.side-toggle{
    position: fixed;
    z-index: 2;
    font-size: 20px;    
    top: 15px;
    left: 25px;
    float: right;
    cursor: pointer;
}

.toggle{
    display: none;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    color: #fff;
    background-color: #2d2b98;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar-menu{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    span{
        font-size: 25px;
        padding-right: 30px;
    }

    &:hover{
        color: #2d2b98;
        background-color: #fff;
    }
}

#toggle:checked ~ .sidebar{
    width: 70px;
}

#toggle:checked ~ .sidebar .sidebar-menu > p{
    display: none;
}

#toggle:checked ~ main{
    // 27:24
    padding: 6rem 2rem 2rem 6rem;
}